.content_top {
    /* display: flex;
    justify-content: center; */
    margin-left: 60px;
    margin-top: 20px;
}

.inputSegment_Name > input {
  
  background-color: white;
  padding: 12px 20px;
  border-radius: 4px;
  margin-left: 60px;
  width: 75%;
  margin-top: 6px; 
  /* border: none; */
}

.traits_info {
  display: flex;
  margin-left:50%;
}

.box{
  padding: 50px;
  border: 1px solid blue;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  
}
.inputbox{
  display: flex;
  padding-top: 10px;
}



.add_details{
  display: flex;
  justify-content: center;
  column-gap: 2px;
  margin-top: 10px;
  margin-right: 10px;

}
  #input_schema{
    padding: 10px;
    margin-left: 5%;
    padding-right: 40%;
  }
.form-check-input{
  margin-top: 14px;
  padding: 5px;
  
}
  .add {
    margin-left: 10%;
  }
  .addSchema {
    text-decoration: underline;
    color: green;
    cursor: pointer;
    
  }